<script>
  import { message } from '../stores.js'
  import { createEventDispatcher} from 'svelte'
  const dispatch = createEventDispatcher()

  import { fade } from 'svelte/transition';

  export let todo

  let editing = false

$: if (editing) {
  message.set(`editing taks "${todo.text}"`)
}
</script>

<style>
  .complete {
    text-decoration: line-through;
    color: gray;
  }
</style>

<li transition:fade>
  ({ todo.id })
  {#if editing}
    <input type="text" bind:value={todo.text} on:blur={() => editing=false} autofocus>
  {:else}
    <input type="checkbox" bind:checked={todo.done}>
    <span class:complete={todo.done} on:click={() => editing=true}>{ todo.text }</span>
    <button on:click={() => dispatch('remove', todo)}>Del</button>
  {/if}
</li>
