<script>
  import Todo from './Todo.svelte'
  import { message } from '../stores'
  export let todos = []

  let newTodo = ''

  $: totalTodos = todos.length
  $: totalDone = todos.filter(t => t.done).length
  $: totalPending = totalTodos - totalDone
  $: nextId = totalTodos ? Math.max(...todos.map(t => t.id)) + 1 : 1

  const removeTodo = ({detail: todo}) => {
    $message = `todo "${todo.text}" removed`
    todos = todos.filter(t => t.id !== todo.id)
  }

  const addTodo = () => {
    if (newTodo) {
      $message = `todo "newTodo" added`
      todos = [...todos, { id: nextId, text: newTodo, done: false}]
      newTodo = ''
    }
  }

  let filter = 'all'
  let filteredTodos = []

  $:
    if (filter === 'done')          filteredTodos = todos.filter(t => t.done)
    else if (filter === 'pending')  filteredTodos = todos.filter(t => !t.done)
    else filteredTodos = todos

</script>

<div class="todo-container">

  <div class="card">

    <div class="title">
      <h1>SvelteJs Todo demo</h1>
      <h3>Done {totalDone} of {totalTodos} todo{totalTodos > 1 ? 's' : ''}, {totalPending} pending</h3>
    </div>

    <div class="add-todo">
      <input placeholder="Add Todo" bind:value={newTodo}>
      <button disabled={!newTodo} on:click={addTodo} class="add">Add</button>
    </div>

    <div class="items">
      {#each filteredTodos as todo (todo.id)}
        <Todo {todo} on:remove={removeTodo}/>
      {:else}
        <div class="item text-center">
          <p>No todos here!</p>
        </div>
      {/each}
    </div>

    <div class="footer">
      <ul class="option">
        <li><p class:selected={ filter === 'all' } on:click={ () => filter = 'all' }>All</p></li>
        <li><p class:selected={ filter === 'pending' } class:disabled={ totalPending == 0 } on:click={ () => filter = 'pending' }>Pending</p></li>
        <li><p class:selected={ filter === 'done' } class:disabled={ totalDone == 0 } on:click={ () => filter = 'done' }>Done</p></li>
      </ul>
      <button class="remove" class:disabled={ totalDone == 0 } on:click={ () => todos = todos.filter( t => !t.done ) }>Remove completed</button>
    </div>

  </div>

</div>
