@tailwind base;

@tailwind components;

body {
   @apply bg-indigo-200;
}

.button {
  @apply font-semibold;
  @apply p-2;
  /* @apply flex-no-shrink; */
  @apply border-2;
  @apply rounded;
  @apply whitespace-pre;
  @apply mr-2;
}

.button-primary {
  @apply button;
  @apply text-indigo-500;
  @apply border-indigo-500;
}
.button-primary:hover {
  @apply text-white;
  @apply bg-indigo-500;
}
.button-primary:last-child {
  @apply mr-0;
}

.button-success {
  @apply button;
  @apply text-green-500;
  @apply border-green-500;
}
.button-success:hover {
  @apply text-white;
  @apply bg-green-500;
}
.button-success:last-child {
  @apply mr-0;
}

.button-danger {
  @apply button;
  @apply text-red-500;
  @apply border-red-500;
}
.button-danger:hover {
  @apply text-white;
  @apply bg-red-500;
}
.button-danger:last-child {
  @apply mr-0;
}

.button-secondary {
  @apply button;
  @apply text-gray-600;
  @apply border-gray-500;
}
.button-secondary:hover {
  @apply text-white;
  @apply bg-gray-500;
}
.button-secondary:last-child {
  @apply mr-0;
}

input {
  @apply font-semibold;
  @apply shadow;
  @apply bg-gray-100;
  /* @apply appearence-none; */
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply mr-4;
  @apply text-indigo-900;
}

input[type="radio"] {
  @apply w-auto;
  @apply mr-2;
  @apply ml-4;
  @apply items-baseline;
}

input[type="radio"]:first-child {
  @apply ml-0;
}

input:focus {
  @apply shadow-outline;
  @apply bg-white;
}

ul.option {
  @apply flex;
  @apply items-center;
}

ul.option li {
  @apply mr-3;
}

.option-base {
  @apply font-semibold;
  @apply inline-block;
  @apply border;
  @apply rounded;
  @apply py-1;
  @apply px-3;
}

ul.option a.selected {
  @apply option-base;
  @apply border-blue-500;
  @apply bg-blue-500;
  @apply text-white
}

ul.option a.selected:hover {
  @apply border-blue-500;
  @apply bg-blue-500;
  @apply text-white
}

ul.option a {
  @apply option-base;
  @apply border-white;
  @apply bg-white;
  @apply text-blue-500;
}

ul.option a:hover {
  @apply border-gray-500;
  @apply bg-gray-300;
}

ul.option a.disabled {
  @apply option-base;
  @apply cursor-not-allowed;
  @apply text-gray-400
}

ul.option a.disabled:hover {
  @apply border-white;
  @apply bg-white;
  @apply text-gray-400
}


ul.option p.selected {
  @apply option-base;
  @apply border-blue-500;
  @apply bg-blue-500;
  @apply text-white
}

ul.option p.selected:hover {
  @apply border-blue-500;
  @apply bg-blue-500;
  @apply text-white
}

ul.option p {
  @apply option-base;
  @apply border-white;
  @apply bg-white;
  @apply text-blue-500;
}

ul.option p:hover {
  @apply border-gray-500;
  @apply bg-gray-300;
  cursor: pointer;
}

ul.option p.disabled {
  @apply option-base;
  @apply cursor-not-allowed;
  @apply text-gray-400
}

ul.option p.disabled:hover {
  @apply border-white;
  @apply bg-white;
  @apply text-gray-400;
  cursor: pointer;
}

div.option p {
  @apply inline;
}

.child-justify {
  @apply flex;
  @apply justify-between;
  @apply items-baseline;
}

.p {
  @apply w-full;
  @apply text-gray-700;
  @apply font-semibold;
}

p {
  @apply p;
}

/* Alert specific css */

div.alert {
  @apply absolute;
  /* @apply top-0; */
  @apply mr-2;
  @apply mt-2;
  @apply right-0;
  @apply flex;
  @apply items-center;
  @apply rounded-lg;
  @apply bg-blue-500;
  @apply text-white;
  @apply text-sm;
  @apply font-bold;
  @apply px-4;
  @apply py-3;
}

div.alert p {
  @apply text-white;
}

/* Todo specific css */

p.done {
  @apply p;
  @apply line-through;
  @apply text-green-500;
  @apply italic;
}


div.todo-container {
 /* @apply h-auto; */
 @apply pt-12;
 /* @apply pb-64; */
 @apply w-full;
 @apply flex;
 @apply items-center;
 @apply justify-center;
 @apply bg-indigo-200;
 @apply font-sans;
}

div.todo-container div.card {
  @apply bg-white;
  @apply rounded;
  @apply shadow;
  @apply p-6;
  @apply m-4;
  @apply w-full;
}
@screen md {
  div.todo-container div.card {
    @apply w-10/12;
    @apply max-w-2xl
  }
}

div.todo-container div.title {
  @apply child-justify;
}

div.todo-container div.title h1 {
  @apply text-left;
  @apply text-2xl;
  @apply text-gray-800;
  @apply font-bold;
}

div.todo-container div.title h3 {
  @apply text-right;
  @apply text-sm;
  @apply italic;
  @apply text-gray-600;
  @apply font-bold;
}

div.todo-container div.add-todo {
  @apply flex;
  @apply mt-3;
  @apply mb-8;
}

div.todo-container div.items {
  @apply mb-8;
}

div.todo-container div.items div.item {
  @apply flex;
  @apply mb-4;
  @apply items-center;
}

button.add {
  @apply button-primary;
}
button.add:hover {
  @apply text-white;
  @apply bg-indigo-500;
}
button.add:last-child {
  @apply mr-0;
}
button.add:disabled {
  @apply button;
  @apply button-secondary;
  @apply mr-0;
}
.button.add:disabled:last-child {
  @apply mr-0;
}
button.add:hover:disabled {
  @apply button;
  @apply button-secondary;
  @apply text-white;
  @apply bg-gray-500;
  @apply mr-0;
}


button.done {
  @apply button-success;
}
button.done:hover {
  @apply text-white;
  @apply bg-green-500;
}
button.done:last-child {
  @apply mr-0;
}

button.remove {
  @apply button-danger;
}
button.remove:hover {
  @apply text-white;
  @apply bg-red-500;
}
button.remove:last-child {
  @apply mr-0;
}

button.pending {
  @apply button-secondary;
}
button.pending:hover {
  @apply text-white;
  @apply bg-gray-600;
}
button.pending:last-child {
  @apply mr-0;
}

button.disabled {
  @apply button;
  @apply button-secondary;
  @apply mr-0;
}
.button.disabled:last-child {
  @apply mr-0;
}
button.disabled:hover {
  @apply button;
  @apply button-secondary;
  @apply text-white;
  @apply bg-gray-500;
  @apply mr-0;
}

div.todo-container div.footer {
  @apply child-justify;
}

@tailwind utilities;
