<script>
	import Todos from './Todos.svelte'
	import Message from './Message.svelte'

	const todos = [
		{ id: 1, text: 'learn svelte', done: true },
		{ id: 2, text: 'make a great nardoz presentation', done: false },
		{ id: 3, text: 'get rich', done: false },
		{ id: 4, text: 'conquer the world', done: false },
	]
</script>

<Message />

<Todos {todos} />